In [2]:
import numpy as np
import math
from datetime import timedelta
from operator import attrgetter
from netCDF4 import Dataset
from netCDF4 import MFDataset
from collections import defaultdict
import xarray as xr
import pandas as pd
import os

In [3]:
'''
Written by Chad Valencia, chadvalencia@gmail.com

for David Lindo Atichati, PhD, CUNY

Dataset ETL

The Purpose of this file is to parse data into organized csvs for different visualizations. By doing so
we can cut down processing time of the dataset and visualize accordingly.
'''

'\nWritten by Chad Valencia, chadvalencia@gmail.com\n\nfor David Lindo Atichati, PhD, CUNY\n\nDataset ETL\n\nThe Purpose of this file is to parse data into organized csvs for different visualizations. By doing so\nwe can cut down processing time of the dataset and visualize accordingly.\n'

In [4]:
cycnc = Dataset('./output_tracking/Cyclonic.nc')
acycnc = Dataset('./output_tracking/Anticyclonic.nc')

In [5]:
def poslon(l):
    j = []
    for i in l:
        if i < 0:
            i=360+i
            j.append(i)
        else:
            j.append(i)
    return j
        
def dfnc(nc):
    '''
    This takes an nc dataset and creates a Pandas dataframe
    with columns eddy, date and position
    '''
    lat=list(nc['lat'])
    lon=poslon(list(nc['lon']))
    radius = list(nc['radius_e']) #radius in km
    amp = list(nc['A'])
    dates = list(nc['j1'])
    eddy = list(nc['track'])
    df = pd.DataFrame([eddy,dates,lat,lon,radius,amp]).T
    df.columns=['eddy','date','lat','lon','radius','amplitude']
    df['date']=pd.to_datetime(df['date'],origin='julian',unit='D')
    return df

In [6]:
cyc = dfnc(cycnc)
acyc = dfnc(acycnc)

In [7]:
def pos_compare(lat, lon):
    lat_in, lon_in = False, False

    if 15.92 < lat < 34.04043:
        lat_in = True
    if 176.04 < lon < 209.0341:
            lon_in = True
    return lat_in and lon_in

def truecol(df):
    l=[]
    for i in range(len(df)):
        if pos_compare(df['lat'][i],df['lon'][i]):
            l.append(True)
        else:
            l.append(False)
    df['truecol']=l
    df = df[df['truecol']==True]
    df = df.drop('truecol',axis=1)
    return df

In [8]:
cdf = truecol(cyc)
adf = truecol(acyc)

In [9]:
# Saving cdf to ./data/cdf.csv and adf to ./data/adf.csv
# cdf is a dataframe of Longitude-Adjusted cylconic eddies, with 1 degree removed on each border, unbinned.
# adf is a dataframe of Longitude-Adjusted cylconic eddies, with 1 degree removed on each border, unbinned.
cdf.to_csv('./data/cdf.csv')
adf.to_csv('./data/adf.csv')

In [10]:
### Skip to here if not first time running
cdf = pd.read_csv('./data/cdf.csv')
cdf.describe()

,Unnamed: 0,eddy,lat,lon,radius,amplitude
count,157718.000000,157718.000000,157718.000000,157718.000000,157718.000000,157718.000000
mean,87989.784508,4857.821295,25.285731,192.848019,47.682352,2.996540
std,50673.003517,2902.821074,5.290045,9.654817,27.229527,3.541591
min,0.000000,1.000000,15.920247,176.040161,15.000000,0.054436
25%,44335.250000,2428.000000,20.786180,184.546986,27.200000,0.853937
50%,88081.500000,4727.000000,25.169032,192.926651,39.600000,1.792730
75%,131981.750000,7352.000000,29.955281,201.341152,60.750000,3.756357
max,176047.000000,10115.000000,34.040428,209.034088,210.350000,47.401760

In [11]:
adf = pd.read_csv('./data/adf.csv')
adf

,Unnamed: 0,eddy,date,lat,lon,radius,amplitude
0,0,1.0,2009-05-01 12:00:00,16.711275,201.793015,30.55,0.327685
1,1,1.0,2009-05-02 12:00:00,16.678257,201.710434,33.75,0.406118
2,2,1.0,2009-05-03 12:00:00,16.689449,201.585663,29.85,0.347254
3,3,1.0,2009-05-04 12:00:00,16.632107,201.512939,36.25,0.509210
4,4,1.0,2009-05-05 12:00:00,16.580832,201.447174,31.45,0.429348
5,5,1.0,2009-05-06 12:00:00,16.651991,201.352310,28.40,0.310445
6,6,2.0,2009-05-01 12:00:00,19.849276,207.901001,29.05,0.891934
7,7,2.0,2009-05-02 12:00:00,19.811481,207.849670,31.45,0.963795
8,8,2.0,2009-05-03 12:00:00,19.806429,207.796921,29.05,0.822990
9,9,2.0,2009-05-04 12:00:00,19.815142,207.750305,31.50,0.927562
10,10,2.0,2009-05-05 12:00:00,19.818892,207.711914,30.10,0.850420
11,11,2.0,2009-05-06 12:00:00,19.807768,207.670715,30.35,0.847373
12,12,2.0,2009-05-07 12:00:00,19.828451,207.618958,23.65,0.556076
13,13,2.0,2009-05-08 12:00:00,19.868013,207.571289,23.35,0.523395
14,14,2.0,2009-05-09 12:00:00,19.861780,207.542969,25.25,0.593932
15,15,2.0,2009-05-10 12:00:00,19.849306,207.506851,27.50,0.617498
16,16,2.0,2009-05-11 12:00:00,19.843189,207.459137,32.90,0.699876
17,17,2.0,2009-05-12 12:00:00,19.872021,207.408142,27.15,0.551232
18,18,2.0,2009-05-13 12:00:00,19.992334,207.326279,37.05,0.587621
19,19,2.0,2009-05-14 12:00:00,19.927107,207.320099,30.95,0.440206
20,20,3.0,2009-05-01 12:00:00,30.187067,186.373398,119.85,7.770891
21,21,3.0,2009-05-02 12:00:00,30.189524,186.370941,119.80,7.808108
22,22,3.0,2009-05-03 12:00:00,30.195122,186.362549,119.80,7.815481
23,23,3.0,2009-05-04 12:00:00,30.200968,186.353409,115.85,7.566630
24,24,3.0,2009-05-05 12:00:00,30.212212,186.338074,116.50,7.580350
25,25,3.0,2009-05-06 12:00:00,30.204102,186.342300,112.55,7.293668
26,26,3.0,2009-05-07 12:00:00,30.215345,186.335953,109.80,6.934312
27,27,3.0,2009-05-08 12:00:00,30.212831,186.323730,105.05,6.458677
28,28,3.0,2009-05-09 12:00:00,30.218115,186.320816,103.45,6.147262
29,29,3.0,2009-05-10 12:00:00,30.232698,186.319824,98.35,5.604747
...,...,...,...,...,...,...,...
128356,140194,8625.0,2014-05-20 12:00:00,19.003227,177.038818,288.90,7.991056
128357,140195,8625.0,2014-05-21 12:00:00,19.078329,177.079132,289.55,8.112888
128358,140196,8625.0,2014-05-22 12:00:00,19.135494,177.134766,81.75,2.922567
128359,140197,8625.0,2014-05-23 12:00:00,19.172812,177.175125,81.10,3.068943
128360,140198,8625.0,2014-05-24 12:00:00,19.199381,177.204300,82.05,3.273961
128361,140199,8625.0,2014-05-25 12:00:00,19.223688,177.225601,109.80,3.790831
128362,140200,8626.0,2014-05-20 12:00:00,33.591148,184.004852,21.30,0.480389
128363,140201,8626.0,2014-05-21 12:00:00,33.595562,183.999664,40.80,1.477280
128364,140202,8626.0,2014-05-22 12:00:00,33.588821,183.990494,45.30,2.070983
128365,140203,8626.0,2014-05-23 12:00:00,33.573425,183.965424,61.60,3.248610
128366,140204,8626.0,2014-05-24 12:00:00,33.557121,183.942810,64.35,3.457973
128367,140205,8626.0,2014-05-25 12:00:00,33.522484,183.890274,77.70,4.011975
128368,140206,8627.0,2014-05-21 12:00:00,29.732571,194.849991,20.40,0.112544
128369,140207,8627.0,2014-05-22 12:00:00,29.683863,194.828491,33.25,0.272345
128370,140208,8627.0,2014-05-23 12:00:00,29.685802,194.861603,28.65,0.213768
128371,140209,8627.0,2014-05-24 12:00:00,29.631071,194.829254,37.75,0.277375
128372,140210,8627.0,2014-05-25 12:00:00,29.636663,194.871994,31.75,0.219468
128373,140211,8628.0,2014-05-21 12:00:00,30.930330,190.139999,17.85,0.248177
128374,140212,8628.0,2014-05-22 12:00:00,30.931185,190.152725,19.05,0.282970
128375,140213,8628.0,2014-05-23 12:00:00,30.936195,190.178299,27.35,0.462354
128376,140214,8628.0,2014-05-24 12:00:00,30.917175,190.150497,21.20,0.295876
128377,140215,8628.0,2014-05-25 12:00:00,30.903778,190.184601,16.35,0.171980
128378,140216,8629.0,2014-05-22 12:00:00,33.340374,206.841904,29.55,0.453692
128379,140217,8629.0,2014-05-23 12:00:00,33.308815,206.833954,26.60,0.407583
128380,140218,8629.0,2014-05-24 12:00:00,33.326809,206.857193,25.70,0.399907
128381,140219,8629.0,2014-05-25 12:00:00,33.328812,206.870758,27.10,0.417557
128382,140228,8632.0,2014-05-22 12:00:00,19.151379,190.638260,26.65,0.845066
128383,140229,8632.0,2014-05-23 12:00:00,19.282322,190.554901,42.25,2.159380
128384,140230,8632.0,2014-05-24 12:00:00,19.356281,190.499496,47.30,2.913119
128385,140231,8632.0,2014-05-25 12:00:00,19.430803,190.419327,51.95,3.352403

In [12]:
def latsquish(df):
    #makes a dataframe with lat2 for binning
    dflat = df.copy()
    dflat['lat2']=dflat['lat']
    dflat.lat2 = dflat.lat2.astype(int)
    dfnew = dflat.groupby(['eddy','lat2'])
    result = dfnew.agg({
        'eddy':'first',
        'date':'count',
        'lat':np.mean,
        'lon':np.mean,
        'radius':np.mean,
        'amplitude':np.mean
    })
    return result

def latlonsquish(df):
    #makes a dataframe with lat2 for binning
    dflatlon= df.copy()
    dflatlon['lat2']=dflatlon['lat'].astype(int)
    dflatlon['lon2']=dflatlon['lon'].astype(int)
    dflatlon['latlon']=list(zip((dflatlon['lat'].astype(int)),(dflatlon['lon'].astype(int))))
    dfnew = dflatlon.groupby(['eddy','latlon'])
    result = dfnew.agg({
        'eddy':'first',
        'date':'count',
        'lat':np.mean,
        'lon':np.mean,
        'lat2':'first',
        'lon2':'first',
        'radius':np.mean,
        'amplitude':np.mean
    })
    return result

In [13]:
cldf = latsquish(cdf) # CE data for viz 5, flatten on latitude only
clldf = latlonsquish(cdf) # CE data for viz 4,6,7, flatten on both lat/lon 1 degree bins
aldf = latsquish(adf) # AE data for 5
alldf = latlonsquish(adf) #AE data for 4,6,7

In [14]:
cldf.to_csv('./data/cldf.csv')
clldf.to_csv('./data/clldf.csv')
aldf.to_csv('./data/aldf.csv')
alldf.to_csv('./data/alldf.csv')

cldf = pd.read_csv('./data/cldf.csv')
clldf = pd.read_csv('./data/clldf.csv')
aldf = pd.read_csv('./data/aldf.csv')
alldf = pd.read_csv('./data/alldf.csv')

In [15]:
#The Following Dataframe is for Vis 6, calculating non-linearity

In [16]:
def dfdist(nc):
    '''
    This takes an nc dataset and creates a Pandas dataframe
    with columns eddy, date and position
    '''
    lat=list(nc['lat'])
    lon=poslon(list(nc['lon']))
    u = list(nc['U'])
    dates = list(nc['j1'])
    eddy = list(nc['track'])
    df = pd.DataFrame([eddy,dates,lat,lon,u]).T
    df.columns=['eddy','date','lat','lon','u']
    df['date']=pd.to_datetime(df['date'],origin='julian',unit='D')
    return df

In [17]:
adist = truecol(dfdist(acycnc))
cdist = truecol(dfdist(cycnc))
adist.to_csv('./data/adist.csv')
cdist.to_csv('./data/cdist.csv')
adist = pd.read_csv('./data/adist.csv')
cdist = pd.read_csv('./data/cdist.csv')